.aside-container {
  background-color: #fff;
  padding-left: 49px;
  max-width: 350px;
  width: 100%;
  padding-top: 41px;
  padding-right: 46px;
  padding-bottom: 41px;
}

.logo {
  max-width: 214px;
  margin-bottom: 77px;
}


.menu {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 73px;
}

.menu li {
  margin-bottom: 4px;
}

.menu a {
  color: #464255;
  text-decoration: none;
  padding: 16px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;

}

.menu a:hover {
  color:  green;
}

.menu a:hover path {
  fill: green;
}

.menu ul li.active a {
  color:  green;
  background: rgba(0, 176, 116, 0.15);
  font-weight: 700;
}

.menu svg {
  margin-right: 24px;
}

.menu ul li.active a path {
  fill: green;
}


/* aside banner start here */
.aside-banner {
  background-color: green;
  border-radius: 10px;
  display: flex;
  padding: 24px 24px 24px 28px;
}

.aside-banner button { 
  border-radius: 5px;
}

.banner-left p {
  color:  white;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 8px;
}

.banner-left input {
  color: #464255;
}

.banner-left .btn {
  padding: 6px 22px 10px 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  border: none;
  cursor: pointer;
  background-color: var(--color-white);
}

.banner-left .btn:hover {
  background-color: var(--color-white);
}

/* aside footer start here */
.aside-footer {
  padding-top: 59px;
}

.admin-dashboard {
  color: #969BA0;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px
}

.copyright-block {
  color: #969BA0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 15px;

}

.develop-by {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #969BA0;
}

.develop-by span {
  color: red;

}

.develop-by a {
  color: #969BA0;
  text-decoration: none;
}
.body-container {
  background-color: red;
  padding-left: 57px;
  max-width: calc(100% - 350px);
}